{% extends 'base.html' %}

{% load static %}

{% block content %}

<!--heading-->
<div class="container mt-3">
  <div class="row text-center">
    <div class="col-4 text-center ">
      <h4 class="neon mb-2">Exciting!</h4>
    </div>
    <div class="col-4">
      <h1>Newsletter</h1>
    </div>
    <div class="col-4">
      <p class="fs-6 text-body-tertiary">March 2024</p>
    </div>
  </div>
  <div class="col-6 text-center">
    Features
  </div>
  <div class="col-6 text-center">
    In and around the world
  </div>
</div>
</div>

<!--body-->
<div class="container news-cards">
  <div class="row">
    <div class="col-sm-6 ">
      <div class="card bg- " style="max-width: 570px;">
        <div class="row g-0">

          <div class="col-md-6">
            <img src="{% static 'images/lenses.jpg' %}" class="img-fluid rounded-start" alt="lens">
          </div>

          <div class="col-md-6 text-center">
            <div class="card-body ">
              <h4 class="card-title">Which lens...?</h4>
              <p class="card-text">
              </p>
              <p class="card-text"><small class="text-body-secondary">Editor - SMS</small></p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <hr>

      <p>You may be wondering what lens should you be using.
        Well choosing the right lens for your photography depends on factors such as the subject matter,
        shooting conditions, and desired creative effects. If you are just starting out, I would say to go
        for a zoom lens. Its affordable and offer variable focal lengths, allowing you to zoom in and out to frame
        your shot without changing lenses.</p>

      <hr>
    </div>

    <div class="col-6">
      events
    </div>
    <div class="col-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">

          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
        </div>
      </div>
    </div>
    

    <div class="col-sm-6">
      <div class="card bg- " style="max-width: 570px;">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="{% static 'images/fun-image.jpg' %}" class="img-fluid rounded-start" alt="lens">
          </div>
          <div class="col-md-6 text-center">
            <div class="card-body">
              <h4 class="card-title">Creative for Socials..</h4>
              <p class="card-text"></p>
              <p class="card-text"><small class="text-body-secondary">Editor - SMS</small></p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <hr>
      <p>
        Are you next trend, on social platforms. Its always a
        good idea to make your work creative, social media requires a blend of creativity, relevance,
        and visual appeal. Here's creative idea for social media images across different platforms. Make
        it playful you'll be suprised on how much engagement you'll get. Monetizing is a great discussion 
        on this to bring to the April edition.
      </p>
      <hr>
    </div>
  </div>
</div>







{% endblock %}