{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/custom.css' %}">

<!--search bar-->

<div class="search-container">
  <div class="search-bar">
    <div id="select">
        <p>
            Categories         
        </p> 
        <i class="fa-solid fa-caret-down"></i>       
        <ul id="list">
            <li class="options">All Categories</li>
            <li class="options">Architecture</li>
            <li class="options">Landscape</li>
            <li class="options">Lifestyle</li>
            <li class="options">People</li>
            <li class="options">Studio</li>
        </ul>
   </div>
   <input type="text" placeholder="search here ">
   <i class="fa-solid fa-magnifying-glass"></i>
     
 </div>
              
</div>

<!--article posts-->

<div class="article-container">
    <div class="col-4 card" style="width: 18rem;">
     <img src="..." class="card-img-top" alt="image">
     <div class="card-body">
       <h5 class="card-title">Article Title</h5>
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <a href="#" class="nav-link">more....</a>
     </div>
  </div>
  
  </div>
<script src="{% static 'js/script.js' %}"></script>  
   

{% endblock %}
