{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/custom.css' %}">

<!--search bar-->

<div class="search-container">
  <div class="search-bar">
    <div id="select">
        <p id="selecttext">
            Categories         
        </p> 
        <i class="fa-solid fa-caret-down"></i>       
        <ul id="list">
            <li class="options">All Categories</li>
            <li class="options">Architecture</li>
            <li class="options">Landscape</li>
            <li class="options">Lifestyle</li>
            <li class="options">People</li>
            <li class="options">Studio</li>
        </ul>
   </div>
   <input type="text" id="inputfield"  placeholder="search here ">
   <i class="fa-solid fa-magnifying-glass"></i>
     
 </div>
              
</div>

<!--article posts-->

<div class="article-container">
  <div class="row mb-5">
    {% for article in articles  %}
    {% for image in images  %}
    <div class="col-lg-4 col-sm-6 mb-4 hover-animate">
    <div class="col-4 card" style="width: 24rem;">
     
     <img src="{{article.image.url}}" class="card-img-top" alt="image">
     <div class="card-body">
     
      <p>{{article.category}}</p>
       <h5 class="card-title">{{ article.title }}</h5>
       <p>{{article.author}} | {{article.created_on}}</p>
       <p class="card-text">{{ article.description | safe}}</p>
       <a href="{% url 'signup' %}" class="nav-link">more....</a>
     </div>
    </div>
    </div>
    {% endfor %}  
    {% endfor %}  
    
 </div>
  </div>
<script src="{% static 'js/script.js' %}"></script>  
   

{% endblock %}
