{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">


<div class="container signup p-6 mt-5">
<h2>Sign up here.</h2>
<br>
<div class="row signupform ">
<div class="form col-sm-6">
<form action="" method=POST>
    {% csrf_token %}
  
{{ form.as_p }}




<button type="submit" class="btn btn-primary mt-2 mb-2">Submit</button>

</form>
</div>
<div class="col-6  px-4">
    <img src="{% static 'images/retro.jpg' %}" alt="lens_image"style="width: 24rem; opacity: 0.1;">
</div>
</div>
</div>
{% endblock %}