@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Electrolize&display=swap');

/* body */
body {
    font-family: "Bitter", serif;
    font-weight: 400;
   /* background-color: rgba(25, 135, 84, 0.3);*/
}

html, body {
    height: 100%;
}

body > footer {
    position: sticky;
    top: 100vh;
}

.navbar { 
    background-color: rgba(25, 135, 84, 0.3);
} 

.create-link {
    background-color: rgb(99,112,227);
    border: none;
    border-radius: 4px;
}

.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter:brightness(0.6);
}

/* article */
.author-details {
    font-size:medium;
    font-weight: lighter;
    color:rgb(145, 144, 144) ;
    margin-left: 20px;
    
}

.camera, .aperture {
    color: rgb(145, 144, 144);
    border-bottom: 2px solid rgb(234, 231, 231);

}

.camera-settings {
    color: rgb(66, 60, 60);
    margin-left: 20px;
}


/*Reviews*/
.reviews-head {
    color: rgb(145, 144, 144);
}

.review-icon {
    margin-left: 10px;
}

.update_btns {
   padding-right: 10px;
}

.send-review {
    margin-bottom: 20px;
}

.other-reviews {
    border: 2px solid rgb(238, 237, 237);
}

/*login and signup*/
.form-image {
   opacity:0.5;   
}

/*newsletter*/
.newsletter {
    margin: 0px;
    padding:0px;
    box-sizing:border-box;
}

.news-container {
    width:100%
}

.news-container .row {
    width:80%;
    margin:auto;
}

.news-container .row .header {
    width: 60%;
    text-align: center;
    margin: auto;

}

.news-container .row .header h1{
    padding-top: 30px;
    font-size: 45px;
    color:rgb(25, 135, 84, 0.3) ;
}

.news-container .row .header h5{
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5;
    color:rgb(123, 123, 123) ;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content .card {
    width: 30rem;
    flex:1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    background-color: #fff;
}

.content .card img {
    width: 100%;
    height: auto;
}

.content .card h4{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
}

.content .card p{
    font-size: 15px;
    color:darkslategray;
    line-height: 1.5;
    padding: 10px;
}

.cat-container {
    background-color:rgb(25, 135, 84, 0.3);
}

.cat-container , p {
    color: rgb(123, 123, 123);
}

.cat-name {
    font-size: small;
    color: black;
}

.neon {
    letter-spacing: 1px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
