@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Electrolize&display=swap');

body {
    font-family: "Bitter", serif;
    font-weight: 400;
}

html, body {
    height: 100%;
}

body > footer {
    position: sticky;
    top: 100vh;
}

.main-links {
    
}

.navbar { 
    background-color: rgba(25, 135, 84, 0.3);
}

.create-link {
    background-color: rgb(99,112,227);
    border: none;
    border-radius: 4px;
}

.signup {
    border: 1px solid rgb(66, 60, 60); 
    box-shadow: 2px 2px 2px rgb(66, 60, 60);
}

.search-container {
    width: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;
}

.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter:brightness(0.6);
}

.form {
    display: flex;
    justify-content: center;
}

.author-details {
    font-size:medium;
    font-weight: lighter;
    color:rgb(145, 144, 144) ;
    margin-left: 20px;
    
}

.camera, .aperture {
    color: rgb(145, 144, 144);
    border-bottom: 2px solid rgb(234, 231, 231);

}

.camera-settings {
    color: rgb(66, 60, 60);
    margin-left: 20px;
}

.article-description {
    color: rgb(145, 144, 144);
}

.reviews-head {
    color: rgb(145, 144, 144);
}

.icon {
    margin-left: 10px;
}

.update_btns {
   padding-right: 10px;
}

.send-review {
    margin-bottom: 20px;
}

.other-reviews {
    border: 2px solid rgb(238, 237, 237);
}

.form-image {
   opacity:0.5;
    
}

.news-cards {
    width: 100vw;
}

.cat-container {
    background-color:rgb(25, 135, 84, 0.3);

}