{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}
 
<div class="container login p-6 mt-5">

<h2>Login here.</h2>
<br>
<div class="row login-form">
<div class="form col-sm-6">
<form action="" method="post">
    {% csrf_token %}
  
{{ form | crispy }}

<button type="submit" class="btn btn-primary mt-2 mb-2">Submit</button>

</form>
</div>
<div class="col-6  px-4">
    <img src="{% static 'images/retro.jpg' %}" alt="lens_image"style="width: 24rem; opacity: 0.1;">
</div>
</div>
</div>
{% endblock %}