{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/custom.css' %}">

<div id="carouselSlides" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item c-item active">
      <img src="{% static 'images/man_hero.jpg' %}" class="d-block c-img w-100" alt="...">
    </div>
    <div class="carousel-item c-item">
      <img src="{% static 'images/lady_hero.jpg' %}" class="d-block c-img w-100" alt="...">
    </div>
    <div class="carousel-item c-item">
      <img src="{% static 'images/sunset.jpg' %}" class="d-block c-img w-100" alt="...">
    </div>
  </div>
</div>


     
   
{% endblock %}
