{% extends 'base.html' %}

{% load static %}

{% block content %}

 
<!--search bar-->

<div class="container">
    <div class="row my-3">
      <div class="col-12 text-center mx-auto">
        <a href="{% url 'home' %}"><span class="badge text-bg-success mx-2 fs-6 fw-normal">ALL ARTICLES</span></a>
        {% for category in categories %}
          <a href="{% url 'home' %}?category={{ category.id }}"><span class="badge text-bg-success mx-2 fs-6">{{ category }}</span></a>
        {% endfor %}
      </div>
    </div>
  </div>
  
  <!--article posts-->

  
  
  <div class="container article-container mt-5">

    <h3 class="fw-semibold">My Articles</h3>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-5 mt-5">
      {% for article in articles %}
        <div class="col mb-4 hover-animate">
          <div class="card h-100 rounded shadow">
            <a href="{% url 'article-details' pk=article.pk %}">
              <img src="{{article.image.url}}" class="card-img-top" alt="image">
            </a>
            <div class="card-body text-body-tertiary">
  
              <p>{{ article.category }}</p>
              <h5 class="card-title text-black">{{ article.title }}</h5>
              <p>{{ article.author }} | {{article.created_at|date:"F d, Y" }} <span></span>&nbsp;<span class="icon"><i class="fa-solid fa-comment"></i></span>&nbsp;
                <span>{{article.reviews.count}}</span></p>
              <p class="card-text text-black">{{ article.description|safe|truncatechars:100 }} </p>
              <a href="{% url 'article-details' pk=article.pk %}" class="nav-link text-primary">more....</a>
            </div>
  
          </div>
        </div>
      {% endfor %}
  
    </div>
  </div>
  <!--categories count-->
  <div class="container-fluid text-center bg-secondary-subtle ">
    <div class="row cat-row mt-5 ">
      <h2 class="mb-12 text-2xl text-center">Categories</h2>
      {% for category in categories %}
      <div class="col-4 text-center mx-auto mb-4">
        <div class="col-4" style="width: 18rem;">
  
          <div class="p-6 bg-white rounded">
            <h4>{{ category.name }}</h4>
            <p class="text-gray-100">{{category.articles.count}} articles</p>
          </div>
  
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  
  <script src="{% static 'js/script.js' %}"></script>
  
  
  {% endblock %}